<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <div class="container">
            <%- include('./partials/head'); %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Chillup</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
    <div class="container">

        
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
           
              

                    <li class="nav-item">
                        <a class="nav-link" href="/register" style="">
                            Регистрация
                        </a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link"style="t" style="text-decoration: none;" href="/signin">Вход</a>
                    </li>
            
          
            </ul>
        </span>
        </div>
        </nav>


</div>


 

        <div class="flex-wrapper-three" style="padding: 0px 0 0 0px;">
            <div class="box-main" style="width: 100%;">
                <div style="width: 100%;  margin: 0px 1%; display: flex; justify-content: center;">
                    <div>
                        <h3 style="text-align: center;">Регистрация</h3>
                        <!-- ---------------------------------------------------------- -->
                        <form action="/api/signup/"  method='post' class="form">
                        <div>
                            <input type="email"  placeholder="Введите email" style="   background-color: #FFFFFF; height: 20px;
                        width: 100%;" name="email" />
                        </div>
                        <br>
                          <div><input type="text"  placeholder="Введите полное имя" style="   background-color: #FFFFFF; height: 20px;
                          width: 100%;" name="full_name"/>
                          </div>
                          <br>
                          <div><input type="password"  placeholder="Введите пароль" style="   background-color: #FFFFFF; height: 20px;
                            width: 100%;" name="password"/>
                            </div>
                            <br>
                            <div><input type="password"  placeholder="Подтвердите пароль" style="   background-color: #FFFFFF; height: 20px;
                                width: 100%;" name="re_password"/>
                                </div>
                                <br>
                               
                                
                          <button  type="submit" class="" style="width: 105%;background-color: #00A2DC; color: white;">Зарегистрироваться</button>
                    </form>

                        </div>
                    
                </div>

                </div>


            
                
       
            </div>
        </div>


       
                <!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> -->
            </div>
        </body>
    </body>
</html>
