<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title></title>
        <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
    <body>
        <div class="container">
        <%- include('./partials/head'); %>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Chillup</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
    <div class="container">

        
        <span class="navbar-text">
            <ul class="navbar-nav mr-auto">
           
              

                    <li class="nav-item">
                        <a class="nav-link" href="/register" style="">
                            Регистрация
                        </a>
                        </li>

                        <li class="nav-item">
                        <a class="nav-link"style="t" style="text-decoration: none;" href="/signin">Вход</a>
                    </li>
            
          
            </ul>
        </span>
        </div>
        </nav>
        <form action="/api/signin/" method="POST" class="form">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="text" placeholder="Введите почту" name="email"  class="form-control"/>
                                 
              
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
            
              <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Вход</button>
          </form>

    </div>

</div>
       
    </body>
</html></div><!-- <img alt="" class="line-1" src="https://static.overlay-tech.com/assets/217a8777-d638-4edd-9084-0293a36069e0.png"/> --></div></body></body></html>

